.card {
  position: absolute;
  border: 2px solid black;
  height: 250px;
  width: 225px;
  left: 50px;
  top: 50px;
}

.caption {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  padding: 20px;
  background: crimson;
  color: white;
}
