* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  background: #9FADD0;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 2.2em;
}

h3 {
  font-size: 1.8em;
}

h4 {
  font-size: 1.4em;
}

h5 {
  font-size: 1.2em;
}

h6 {
  font-size: 1.1em;
}

nav.navbar {
  user-select: none;
  background: #FFDD97;
  border-bottom: #DEB662 2px solid;
}

ul.navbar-nav>li.navbar-item {
  float: right;
  margin: 10px;
  background: cadetblue;
  padding: 15px;
  cursor: pointer;
  border-radius: 4px;
  border: #3C8386 2px solid;
}

ul.navbar-nav>li.navbar-item:hover {
  background: #226C70;
}

ul.navbar-nav>li.navbar-item:active {
  background: #93C5C7;
  border: #93C5C7 2px solid;
}

ul.navbar-nav>li.navbar-item:active>a {
  color: #226C70;
}

ul.navbar-nav>li.navbar-item>a {
  text-decoration: none;
  color: white;
}

ul.navbar-nav::after {
  content: "";
  display: block;
  clear: both;
}

main.main {
  position: relative;
  min-height: 80%;
  padding-bottom: 50px;
}

main.main::after {
  content: "";
  display: block;
  clear: both;
}

aside.aside {
  float: left;
  background: #FFC797;
  width: 20%;
  min-height: 300px;
  border: 2px #DE9C62 solid;
  border-radius: 4px;
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  padding: 15px;
}

aside.aside hr {
  border: 2px #FFC797 solid;
  border-top: 2px #DE9C62 solid;
}

section.content {
  float: left;
  width: 80%;
  background: #C9E5E7;
  padding: 15px;
  border-radius: 4px;
  border-bottom: 2px cadetblue solid;
  border-top: none;
}

.footer {
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  background: cadetblue;
  border-top: #226C70 2px solid;
  color: white;
  padding: 20px;
  padding-bottom: 30px;
  min-height: 20%;
  overflow: auto;
}

.footer span {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: #226C70;
}
