nav.navbar {
  background: deepskyblue;
  overflow: auto;
  padding: 20px;
}

li {
  margin-left: 10px;
  margin-right: 10px;
  background: darkslateblue;
  border-radius: 4px;
  padding: 10px;
  float: left;
  color: lightblue;
  cursor: pointer;
}

li:hover {
  background: white;
  color: deepskyblue;
}

