.box {
  min-height: 50px;
  margin: 5px;
  color: white;
  padding: 5px;
  font-weight: 800;
}

.skyblue {
  background: deepskyblue;
}

.purple {
  background: rebeccapurple;
}

.red {
  background: indianred;
}